    body {
      margin: 0;
      font-family: Georgia, serif;
      background: #FCD7F1;
      color: #333;
      line-height: 1.6;
      display: flex;
      min-height: 80vh;
      align-items: center;
      justify-content: center;


    }
    .container {
      max-width: 700px;
      margin: 0 auto;
      padding: 40px 20px;
    }
    h1 {
      text-align: center;
      font-size: 2.2em;
      margin-bottom: 10px;
    }
    h2 {
      margin-top: 40px;
      color: #c94f7c;
    }
    p {
      margin: 15px 0;
    }
    .heart {
      text-align: center;
      font-size: 2em;
      margin: 20px 0;
    }
    footer {
      text-align: center;
      margin-top: 60px;
      font-style: italic;
      color: #777;
    }

    .myButtons{  
     display: flex;
     justify-content: center;
     align-items: center;
     /* width: 90vw; */
     /* background-color: #d8d8d8; */
     flex-wrap: wrap;
     /* flex-direction: column; */
     padding: auto;


    }
    @media screen and (max-width: 600px){
    .btnNo{
        font-size: 0.9rem;
        margin: 5px;
    }
     .btnYes{
        font-size: 0.9rem;
        margin: 5px;
        margin-left: 10%;
    }
   
    }

 
    a{
      text-decoration: none;
      color: #ececec;
    }
.btnYes {
  background-color: #2d7f2f;
  font-family: "Verdana", sans-serif;
  padding: 5px 10px;
  font-size: 1rem;
  color: #ececec;
  cursor: pointer;
  width: fit-content;
  user-select: none;
  font-weight: 600;
  border-radius: 5px;
  touch-action: none;
  /* position: center; */
  border: none;
  margin: 10px;
  flex-shrink: 0;
}

.btnNo {
  background-color: #8d2c2c;
  font-family: "Verdana", sans-serif;
  padding: 5px 15px;
  font-size: 1rem;
  color: #ececec;
  cursor: pointer;
  width: fit-content;
  user-select: none;
  /* display: flex; */
  /* justify-content: center;  */
  margin: 10px;
  font-weight: 600;
  border-radius: 5px;
  touch-action: none;
  position: relative;
  border: none;
  flex-shrink: 0;
  
}
 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: 100%;
}
    
 
 @media screen and (min-width: 600px){
    
    img{width: 79%; }
        


 }