    body {
      margin: 0;
      font-family: Georgia, serif;
      background: #f4f1e8;
      color: #191919;
      line-height: 1.6;
      overflow-x: hidden;
    }
    .container {
      max-width: 700px;
      margin: 0 auto;
      padding: 50px;
    }
    section{
    padding: 50px;
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    .yey{
    background: linear-gradient(135deg, #ff9e9e, #ffb6b6);
    color: white;
    padding: 150px 0;
    }
    .catJump{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    width: 50%;
}

    h1 {
      text-align: center;
      font-size: 2.2em;
      margin-bottom: 10px;
    }
    h2 {
      margin-top: 40px;
      color: #9b4819;
    }
    p {
      margin: 15px 0;
    }
    .heart {
      text-align: center;
      font-size: 2em;
      margin: 20px 0;
    }
    footer {
      text-align: center;
      margin-top: 60px;
      font-style: italic;
      color: #777;
    }

   